* {
  margin: 0;
  color: #D14B04;
  box-sizing: border-box;
}

header {
  background-color: #1A1D3A;
  height: 170px;
  width: 100%;
  margin: 0;
  position: relative;
}

nav {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

h1 {
  display: inline-block;
  margin-left: auto;
  font-size: 50px;
  margin-bottom: 30px;
  margin-right: 20px;
}

h3 {
  display: inline-block;
  font-size: 20px;
  padding: 0 30px 40px 0;
}

.selected {
  color: #E18C5F;
}

.nav-icon {
  height: 20px;
  width: 20px;
  margin: 0 10px 40px 20px;
}

h6 {
  display: inline-block;
  font-size: 14px;
}

aside {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.border {
  display: flex;
  width: 100%;
}


body {
  background-color: #089900;
  background-image:
   url(images/football-no-lines.png);
   z-index: 0;
}

section {
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: space-between;
  justify-content: space-around;
  padding: 10px;
}

.player-card {
  height: 400px;
  width: 290px;
  background-color: #44445E;
  border: solid 2px #373F46;
  box-shadow: 5px 5px 5px #232321;
  margin: 5px;
}

.player-picture {
  height: 150px;
  display: flex;
  justify-content: space-between;
}


#jared {

}

#crick {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/crick.jpg");
  background-size: 300px 150px;
  margin-bottom: 0;
}

#Domanta {

}

#peko {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/peko.jpg");
  background-size: 300px 150px;
  margin-bottom: 0;
}


#derek {

}

#wolfe {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/wolfe.jpg");
  background-size: 300px 150px;
  margin-bottom: 0;
}

#shane {

}

#ray {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/ray.jpg");
  background-size: 300px 150px;
  margin-bottom: 0;
}

#todd {

}

#davis {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/davis.jpg");
  background-size: 300px 150px;
  margin-bottom: 0;
}

#brandon {

}

#marshall {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/marshall.jpg");
  background-size: 300px 150px;
  margin-bottom: 0;
}

#von {

}

#miller {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/von.jpg");
  background-size: 300px 150px;
  margin-bottom: 0;
}

#chris {

}

#harris {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/chj.jpg");
  background-size: 300px 150px;
  margin-bottom: 0;
}

#tj {

}

#ward {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/ward.jpg");
  background-size: 300px 150px;
  margin-bottom: 0;
}

#darian {

}

#stewart {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/darian.jpg");
  background-size: 300px 150px;
  margin-bottom: 0;
}

#aqib {

}

#talib {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/aqib.jpg");
  background-size: 300px 150px;
  margin-bottom: 0;
}

.player-number {
  padding: 15px;
  font-size: 35px;
  color: white;
  text-align: right;
}

h4,
h5 {
  margin-bottom: 2px;
}

.player-info {
  padding: 15px 15px 0 15px;
}

p {
  color: #E18C5F;
  margin-bottom: 15px;
}

.byline {
  font-size: 12px;
}

.social-media {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #E18C5F;
  margin-bottom: 15px;
}

.icon {
  height: 30px;
  width: 30px;
  margin: 15px;
}

.stat-highlight {
  font-size: 40px;
  color: #D14B04;
}




/*background-image:  https://www.transparenttextures.com/football-no-lines.html */
}
