* {
  margin: 0;
  color: #D14B04;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

header {
  background-color: #002244;
  height: 170px;
  width: 100%;
  margin: 0;
  position: relative;
}

nav {
  display: flex;
  align-items: flex-end;
  height: 100%;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 5px 0px   rgba(0,0,0,0.5);
  box-shadow: 0px 10px 5px 0px   rgba(0,0,0,0.5);
}

.grid-transition {
  display: flex;
  align-items: flex-end;
}

.banner {
  margin-left: auto;
}

h1 {
  display: inline-block;
  margin-left: auto;
  font-size: 50px;
  margin-bottom: 30px;
  margin-right: 5px;
  font-family: "Cabin";
  font-weight: 700;
}


h2 {
  font-weight: 700;
  display: block;
  margin: 25px 20px;
  font-family: "Cabin";
  font-size: 40px;
}

h3,
h4,
h5 {
  font-family: "Cabin";
  font-weight: 500;
}

h3 {
  display: inline-block;
  font-size: 20px;
  padding: 0 30px 40px 0;
}

.selected {
  color: #E18C5F;
}

.nav-icon, .nav-arrow {
  height: 20px;
  width: 20px;
}

.nav-icon {
  margin: 0 10px 40px 20px;
}

.nav-arrow {
  position: fixed;
  top: 20px;
  right: 15px;
  margin-left: 10px;
}

h6 {
  position: fixed;
  display: inline-block;
  font-size: 14px;
  top: 20px;
  right: 50px;
}

aside {
  position: fixed;
  width: 100%;
  height: 50px;
  top: -1px;
  background: #002244;
  display: block;
  align-items: center;
  justify-content: center;
}

.logo {
  position: fixed;
  height: 29px;
  top: 12px;
  right: 115px;
  width: 50px;
}

body {
  background-color: #077E00;
  background-image:
   url(images/football-no-lines.png);
   z-index: 0;
}

section {
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: space-between;
  justify-content: space-around;
  padding: 10px;
}

.player-card {
  height: 400px;
  width: 290px;
  background-color: #E18C5F;
  /*border: solid 2px #373F46;*/
  box-shadow: 5px 5px 5px #232321;
  margin: 5px;
}

.player-picture {
  height: 150px;
  background-size: 300px 150px;
  display: flex;
  justify-content: space-between;
}

#crick {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/crick.jpg");
  margin-bottom: 0;
}

#peko {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/peko.jpg");
  margin-bottom: 0;
}

#wolfe {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/wolfe.jpg");
  margin-bottom: 0;
}

#ray {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/ray.jpg");
  margin-bottom: 0;
}

#davis {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/davis.jpg");
  margin-bottom: 0;
}

#marshall {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/marshall.jpg");
  margin-bottom: 0;
}

#miller {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/von.jpg");
  margin-bottom: 0;
}

#harris {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/chj.jpg");
  margin-bottom: 0;
}

#ward {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/ward.jpg");
  margin-bottom: 0;
}

#stewart {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/darian.jpg");
  margin-bottom: 0;
}

#talib {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url("images/aqib.jpg");
  margin-bottom: 0;
}

.player-number {
  padding: 15px;
  font-size: 35px;
  color: #E4E4E4;
  text-align: right;
}

h4,
h5 {
  margin-bottom: 2px;
  color: #002244;
}

.player-info {
  padding: 10px 15px 0 15px;
}

p {
  color: #2E4A66;
  margin-bottom: 15px;
}

.byline {
  font-size: 12px;
}

.social-media {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #002244;
  margin-bottom: 15px;
}

.icon {
  height: 30px;
  width: 30px;
  margin: 15px;
}

.football {
  height: 50px;
  width: 50px;
  margin: 0 20px -10px 0;
}

.stat-highlight {
  font-size: 40px;
  color: #002244;
}

@media (max-width: 1250px) {
  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 12px;
  }

  p {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .player-card {
    height: 340px;
    width: 246.5px;
  }

  .player-picture {
    height: 123.25px;
    background-size: 246.5px 123.25px;
  }

  .icon {
    height: 25px;
    width: 25px;
    margin: 10px;
  }

  .player-number {
    font-size: 25px;
    padding: 10px;
  }
  .player-info {
    padding: 10px 10px 0 10px;
  }

  .byline {
    font-size: 10px;
  }

  .social-media {
    height: 35px;
    margin-bottom: 10px;
  }

  .stat-highlight {
    font-size: 35px;
  }
}

@media (max-width: 1060px) {
  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 10px;
  }

  p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .player-card {
    height: 300px;
    width: 217.5px;
  }

  .player-picture {
    height: 108.75px;
    background-size: 217.5px 108.75px;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  .player-number {
    font-size: 25px;
  }
  .player-info {
    padding: 10px 10px 0 10px;
  }

  .byline {
    font-size: 8px;
  }

  .social-media {
    height: 30px;
    margin-bottom: 8px;
  }

  .stat-highlight {
    font-size: 30px;
  }
}

@media (max-width: 960px) {
  nav {
    display: grid;
    grid-template-rows: repeat(10, 10%);
    align-items: flex-end;
    height: 100%;
  }

  h1 {
    text-align: center;
    display: inline-block;
    font-size: 40px;
    margin-bottom: 0;
  }

  h3 {
    display: inline-block;
    font-size: 20px;
    padding: 0;
    margin: 0 20px 0 5px;
  }

  h4 {
    font-size: 25px;
  }

  aside {
    grid-row-end: 1;
    grid-row-end: 3;
    display: inline-block;
  }

  .banner {
    width: 100%;
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 7;
  }

  .football {
    height: 40px;
    width: 40px;
    margin: 0 0 -10px 0;
  }

  .grid-transition {
    grid-row-end: 8;
    grid-row-end: 11;
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }
  .nav-icon, .nav-arrow {
    height: 20px;
    width: 20px;
  }

  .nav-icon {
    margin: 0;
  }

  .nav-arrow {
    margin-left: 10px;
  }

  h6 {
    display: inline-block;
    font-size: 14px;
  }

  .logo {
    height: 29px;
    width: 50px;
    margin-right: 10px;
  }

  h5 {
    font-size: 19px;
  }

  h4,
  h5 {
    margin-bottom: 2px;
  }

  p {
    font-size: 23px;
    margin-bottom: 21px;
  }
  .player-card {
    height: 560px;
    width: 406px;
    margin-bottom: 20px;
    clear: both;
  }

  .player-picture {
    background-size: 406px 203px;
    height: 203px;
  }

  .icon {
    height: 50px;
    width: 50px;
    margin: 15px;
  }

  .player-number {
    font-size: 55px;
    padding: 15px;
  }
  .player-info {
    padding: 10px 15px 0 15px;
  }

  .byline {
    font-size: 18px;
  }

  .social-media {
    height: 70px;
  }

  .stat-highlight {
    font-size: 60px;
  }
}

@media (max-width: 400px) {
  nav {
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(8, 12.5%);
  }

  aside {
    margin-bottom: 15px;
  }

  header {
    height: 275px;
  }

  section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .banner {
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 9;
  }

  h1 {
    margin: auto;
  }

  h2 {
    text-align: center;
  }

  .football {
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
  }

  .grid-transition {
    display: grid;
    padding-top: 0;
    grid-template-columns: repeat(8, 12.5%);
    grid-row-start: 6;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 9;
  }

  .connect,
  .schedule,
  .highlights {
    grid-column-start: 5;
    margin-top: 15px;
    margin-left: -15px;
  }

  .goalpost,
  .calendar,
  .video {
    grid-column-end: 5;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 10px;
  }

  p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .player-card {
    height: 300px;
    width: 217.5px;
  }

  .player-picture {
    height: 108.75px;
    background-size: 217.5px 108.75px;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  .player-number {
    font-size: 25px;
  }
  .player-info {
    padding: 10px 10px 0 10px;
  }

  .byline {
    font-size: 8px;
  }

  .social-media {
    height: 30px;
    margin-bottom: 8px;
  }

  .stat-highlight {
    font-size: 30px;
  }
}

@media (min-width: 1530px) {
  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 20px;
    margin-bottom: 18px;
  }

  .player-card {
    height: 500px;
    width: 362.5px;
    margin-bottom: 10px;
  }

  .player-picture {
    height: 181.25px;
    background-size: 362.5px 181.25px;
  }

  .icon {
    height: 40px;
    width: 40px;
  }

  .player-number {
    font-size: 47px;
  }
  .player-info {
    padding: 10px 20px 0 20px;
  }

  .byline {
    font-size: 17px;
  }

  .social-media {
    height: 57px;
  }

  .stat-highlight {
    font-size: 52px;
  }

}

@media (min-width: 1700px) {

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 19px;
  }

  h4,
  h5 {
    margin-bottom: 2px;
  }

  p {
    font-size: 23px;
    margin-bottom: 21px;
  }
  .player-card {
    height: 560px;
    width: 406px;
    margin-bottom: 15px;
  }

  .player-picture {
    background-size: 406px 203px;
    height: 203px;
  }

  .icon {
    height: 50px;
    width: 50px;
  }

  .player-number {
    font-size: 55px;
  }
  .player-info {
    padding: 15px 25px 0 25px;
  }

  .byline {
    font-size: 16px;
  }

  .social-media {
    height: 70px;
  }

  .stat-highlight {
    font-size: 60px;
  }
}


/*background-image:  https://www.transparenttextures.com/football-no-lines.html */
}
